  
*{
	margin: 0;
	padding: 0;
	font-family: 'Tahoma','sans-serif';
}


/**//**//**//**//**/

body{
}
section{
  background: url(img/mary.jpg);
  backgroud-attachment:fixed;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  
  
	display: flex;/*para poder ubicarlo como quiero*/
	width: 100%;
	justify-content: center; /*para centrarlo horizontalmente*/
	
	align-items: center;/*Una vez twngo establecido el
						 height lo centro verticaLmente  */
	
	min-height: 100vh;/* Con min-heigt y utilizando el viewport height
						 hago que tenga el alto de toda la pantalla*/

  


}



.form-box{
  display: flex  ;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 400px;
  padding:10px; /*para dar mas distancia entre el contenido y el borde*/
	
  background-color:rgba(0,0,255,0.3); /*para hacer el fondo transparente*/
  
  border:2px solid rgba(255,255,255,0.5);
	border-radius: 50px; /*para redondear los bordes*/
	
}
h2{
  font-size: 2em; /*agrandar el titulo*/
  color: white ;
  text-align: center; /*centrar hotizontalmente el texto*/
}
.input-box{
  position: relative;/* para poder darle posicion a los elementos de adentro de las cajas*/
  margin: 30px 0; /*para darle distancia entre elementos verticalmente*/
  width: 350px;
  border-bottom: 2px solid white;
  
}
.input-box label{
  position:absolute;/* para poder poner el texto dentro del input*/
  top:-10px; /*lo ubica verticalmente respecto del relative mas cercano*/
  left:5px; /*lo ubica del borde izquierdo del relative la cantidad que indica  */
  font-size:20px;
  color:white;
  pointer-events: none; 
  transition:0.5s;
}   
input:focus ~ label, input:focus ~ valid{
   top:-25px; /*para que cuando lo seleccionemos se mueva*/
}
.input-box input{
  width:100%;
  height:50px;
  border:none;
  outline:none;
  color:white;
  background:transparent;
  
}
.input-box img{/*para ubicar el icono*/
  position:absolute;
  right:10px;
  top:15px;
  filter:invert(1); /*para modificar una imagen se usa filter, como su color es negro el invert es para ponerlo blanco      */
  
}
.forget{
  display:flex;
  color:white;
  
  margin:-5px 0 30px;/*el primer valor es para acercarlo al input el tercero es para separarlo de lo de abajo*/
  justify-content:center;
}
.forget a{
  text-decoration:none;
  color: white;
   margin-left:10px;
  font-weight:bold;
}
.forget a:hover{
  text-decoration:underline;
  
}
button{
  width:100%;
  height:40px;
  background-color:white;
  
  border-radius:50px;
  border:none;
  outline:none;
  
  font-size:1.2em;
  font-weight:700;
  
}
.register{
   display:flex;
  color:white;
  
  margin: 10px 10px;/*el primer valor es para acercarlo al input el tercero es para separarlo de lo de abajo*/
  justify-content:center;
}
.register a{
  text-decoration:none;
  color: white;
   margin-left:10px;
  font-weight:bold;
}
.register a:hover{
  text-decoration:underline;
}
img{width: 25px}